body {
    background-image: url("/assets/img/background.jpg");
    padding-top: 70px;
    background-size: 100% auto;
}

.deleteNote {
    display: inline-block;
}

.previousNotes {
    display: inline-block;
    width: 80%
}

#scrape {
    margin: 8px 0px;
}